@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
font-family: 'Poppins';
}
#dash_head{
background-color: rgb(242,254,255);
margin: 0;
padding: 15px;
width: 100vw;
height: 30vh;
}
#dash_head h1{
position: relative;
top: 15vh;
}
.user_info{
background-color: rgb(242,255,255);
margin: 5vw;
margin-bottom:0;
padding: 15px;
width: 90vw;
}
